.idea
QupathProjects/*/*.xml
QupathProjects/*/*.json
QupathProjects/*/*.csv
QupathProjects/*/*.tsv
QupathProjects/*/*.qpproj
QupathProjects/*/*.qpproj.backup
QupathProjects/*/data
QupathProjects/*/classifiers
.Rproj
.Rproj.user
/Scripts/
/ResultsTables/CellCoordinates_10x/
/ResultsTables/CellCoordinates_5x/
/Lib/
